<h2 class="h3 mb-4">ログインフォーム</h2>

<div class="row">
  <div class="col-md-6 m-auto">
    <%= form_with(model: @user, url: user_session_path) do |f| %>
      <div class="form-floating mb-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id: "user_floatingInput", placeholder:"name@example.com"  %>
        <%= f.label :floatingInput, "メールアドレス", class: "text-secondary"%>
      </div>

      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "user_floatingPassword", placeholder: "Password" %>
        <%= f.label :password, "パスワード", class: "text-secondary" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="checkbox m-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログインしたままにする" %>
        </div>
      <% end %>

      <div class="button">
        <%= f.submit "ログイン", class: "w-100 btn btn-lg btn-secondary mb-2"%>
      </div>
    <% end %>
  <%= render "users/shared/links" %>
  </div>
</div>

