<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<br>
<br>


<div class="row">
  <form class="form col-md-6 m-auto">
    <h1 class="h3 mb-4">ログインフォーム</h1>

    <div class="form-floating mb-2">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">メールアドレス</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">パスワード</label>
    </div>

    <div class="checkbox m-3">
      <label>
        <input type="checkbox" value="remember-me"> ログインしたままにする
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">ログイン</button>
  </form>
  <%= render "devise/shared/links" %>

</div>