<div class="row">
  <div class="col-md-4">
    <h4 class="mb-4 border-bottom border-2 p-2 text-start"><%= current_user.name %>さんのページ </h4>
    <%= render 'shared/log_form' %>
  </div>
  <div class="col-md-8">
    <%= render 'users/dash_board' %>
    <div class="deck">
      <h3 class="text-start pb-1 my-3 border-bottom border-2">直近の記録</h3>
      <%= render @feed_logs %>  
      <%= paginate @feed_logs, params: {controller: 'users', action: 'home' } %>
    </div>
  </div>
</div>

