<div class="row">
  <div class="col-md-4">
    <section class="side-bar border p-2 mb-5 rounded-1 border-2">
      <h5 class="mb-4 border-bottom p-2 text-start"> <%= current_user.name %> さんのホーム </h5>
      <div class="log_form container">
        <h6 class="mb-3">今日の活動を記録しよう</h6>
        <%= form_with(model: @log) do |form| %>
          <%= form.number_field :amount, in: 15..180, step: 15, class:"form-control d-inline w-50"%>
          <span class="ps-2">min</span>
          <div class="row justify-content-end pe-2">
            <%= form.collection_select :item_id, current_user.items,:id, :name, {} ,class: "form-select mt-3 w-50" %>
            <%= link_to "項目名を編集する" ,items_path, class: "text-end"%>
          </div>
          <%= form.submit "記録する", class: "btn btn-secondary mt-3" %>
        <% end %>
      </div>
    </section>
  </div>
  <div class="col-md-8">
    <div class="dash-board">
      <h3 class="text-start pb-1 mb-3 border-bottom border-2">ここ一週間の記録</h3>
      <%= column_chart  @items.map { |item|
  { name: item.name,
    data: item.logs.group_by_day('logs.created_at',last: 7, format: '%m月 %d日 (%a)').sum('logs.amount / 60') }
  }, stacked: true, suffix: "時間", legend: 'hide', dataset: {borderWidth: 1}%>
    </div>
    <div class="deck">
      <h3 class="text-start pb-1 my-3 border-bottom border-2">直近の記録</h3>
      <%= render @feed_logs %>  
      <%= paginate @feed_logs, params: {controller: 'users', action: 'show' } %>
    </div>
  </div>
</div>

