<section class="side-bar border p-2 mb-5 rounded-1 border-2">
  
    <h5 class="mb-3 pb-3 pt-2 border-bottom">今日の活動を記録しよう</h5>
  <div class="log_form container">
    <%= form_with(model: @log) do |form| %>
      <%= form.number_field :amount, in: 15..180, step: 15, class:"form-control d-inline w-50"%>
      <span class="ps-2">min</span>
      <div class="row justify-content-end pe-2">
        <%= form.collection_select :item_id, @items, :id, :name, {} ,class: "form-select mt-3 w-50" %>
        <%= link_to "項目名を編集する" , items_path, class: "text-end"%>
      </div>
      <%= form.submit "記録する", class: "btn btn-secondary mt-3" %>
    <% end %>
  </div>
</section>