<h1 class="mb-3">項目名を編集する</h1>
<div class="row">
  <div class="col-md-6 mx-auto">
    <%= render 'shared/error_messages', object: @item %>
    <h3 class="mt-3">現在の名前 : <%= @item.name %></h3>
    <%= form_with(model: @item) do |form| %>
      <%= form.text_field :name, class: 'w-50 form-control d-inline' %>
      <%= form.submit "更新する", class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>


