<h3 class="text-start pb-1 my-3 border-bottom border-2"><%= @item.name %>の履歴</h3>
<div class='chart mb-5'>
  <%= line_chart @item.logs.group_by_week('logs.created_at', last: 8, format: "%b %d日 ~").sum('logs.amount / 60'), colors: [item_color(@item)], curve: false, suffix: "時間" %>
</div>
<div class="row">
  <div class="col-md-4">
    <%= render 'shared/log_form' %>
  </div>
  <div class="col-md-8">
    <div class="deck">
      <h3 class="text-start pb-1 my-3 border-bottom border-2">直近の記録</h3>
      <%= render @feed_logs %>  
      <%= paginate @feed_logs, params: {controller: 'items', action: 'show' } %>
    </div>
  </div>
</div>



