<nav class="navbar navbar-expand-sm bg-secondary sticky-top">
  <div class="container-lg">
    <%= link_to "Recorda Me", root_path, class: "navbar-brand fs-3 fw-light" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <%# case request.pathとかで active/aria_currentを付け替えられるかも%>
      <ul class="navbar-nav text-end">
        <li class="nav-item">
          <%= link_to "ホーム", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Recorda meとは", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "設定", edit_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>