<h3 class="mb-4">新規会員登録</h3>

<div class="row">
  <div class="col-md-6 m-auto">
    <%= form_with(model: @user, url: user_registration_path) do |f| %>
      <%= render "users/shared/error_messages" %>
    
      <div class="field mb-2 text-start">
       <%= f.label :email, "メールアドレス", class: "text-secondary " %>
        <%= f.email_field :email, autocomplete: "email",
        class: "form-control "%>
      </div>
      <div class="field  mb-2 text-start">
        <%= f.label :password, "パスワード（最低#{@minimum_password_length}文字必要です）", class: "text-secondary" %>
        <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
      </div>
    
      <div class="field mb-3 text-start">
        <%= f.label :password_confirmation, "確認用パスワード", class: "text-secondary" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    
      <div class="button mb-1">
        <%= f.submit "登録する", class: "w-100 btn btn-lg btn-secondary ,mb-2" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
